<!DOCTYPE html>
<html>
    <head>
        <title> Location Service</title>
    </head>
    <body>
        {{> header}}
        <br/>
        Welcome to Location service home page



        
        {{> footer}}
    </body>
</html>